@use "~/assets/styles/_reset.scss";
@use "~/assets/styles/_vars.scss";

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1140px;
}

body {
  font-size: $font-size-m;
  line-height: 120%;
  font-family: $montserrat-sans;
  background-color: $app-color-white;
  color: $app-color-black;
}

.form-group {
  position: relative;
}
.form-error {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: -25px;
  font-size: 17px;
  font-weight: 700;
  color: $app-color-error;
  transition: all 0.3s ease;
}
